* {
    font-family: sans-serif;
    font-size: 16px;
}

input[type="text"] {
    outline: none;
    background-color: #ecf0f1;
    color: #16a085;
    border: 0;
    padding: 10px;
    margin: 5px 0;
    width: 350px
}

#typeform-embed-code-area {
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-family: "Courier New";
    display: none;
}

#copy-embed-code {
    display: none;
}

#autoload-panel {
    margin-top: 5px;
    display: none;
}

.textarea-container {
    position: relative;
}
.textarea-container textarea {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}
.textarea-container button {
    position: absolute;
    top: 0;
    right: 0;
}

.tag {
    display: inline-block;
    background: #e0e0e0;
    border-radius: 3px;
    padding: 2px 8px;
    margin: 2px;
}
.tag button {
    background: none;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}
